/* GOOGLE FONTS IMPORTS */

/* MAIN FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* TITLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

:root {
  --yellow: #FFE74C;
  --dark-blue: #38618C;
  --light-blue: #35A7FF;
  --red: #FF5964;
  --title-font: 'Sora', sans-serif;
  --main-font: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

a {
  color: inherit;
  text-decoration: none;
}

